#section1{
    background-color: #FFFFFF;
    padding-bottom: 20px;
}
#section1 h1{
    text-align: center;
}
#section1 p{
    display: block;
    margin: 0 auto;
    width: 40%;
}
#section2 h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#section2{
    padding-bottom: 20px;
    color: #FFFFFF;
    background-color: #D3D3D3;
}
.the-grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.the-grid img{
    grid-column: 2/5;
}
#section2 img{
    width: 200px;
    height: 200px;
    padding-bottom: 20px;
    margin-right: 0;
    padding-right: 0;
}
#section2 a{
    color: #FFFFFF;
    text-decoration: none;
}
.searchGrid{
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-rows: 100px;
    align-items: center
}
#form{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

#imageC1{

    grid-row: 2/2; /*accross*/
}
#imageC2{

    grid-row: 3/3; /*accross*/
}
#imageC3{

    grid-row: 4/4; /*accross*/
}
#imageC4{

    grid-row: 5/5; /*accross*/
}
#textC1{
    grid-column: 3/5; /*down*/
    grid-row: 2/2; /*accross*/
}
#textC2{
    grid-column: 3/5; /*down*/
    grid-row: 3/3; /*accross*/
}
#textC3{
    grid-column: 3/5; /*down*/
    grid-row: 4/4; /*accross*/
}
#textC4{
    grid-column: 3/5; /*down*/
    grid-row: 5/5; /*accross*/
}
#linkC1{
    grid-column: 3/5; /*down*/
    grid-row: 2/2; /*accross*/
    margin-top: 160px;
}
#linkC2{
    grid-column: 3/5; /*down*/
    grid-row: 3/3; /*accross*/
    margin-top: 160px;
}
#linkC3{
    grid-column: 3/5; /*down*/
    grid-row: 4/4; /*accross*/
    margin-top: 200px;
}
p{
    font-size: 15px;
}
@media screen and (max-width: 600px){
    #section1 p{
        display: block;
        margin: 0 auto;
        width: 80%;
    }
    .searchGrid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px;
        align-items: center
    }
    .searchGrid h3{
        text-align: center;
    }
    .the-grid{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .the-grid img{
        padding-left: 10%;
        grid-column: 1/1; /*down*/
    }
    #imageC1{
        grid-row: 2/2; /*accross*/
    }
    #imageC2{
        grid-row: 3/3; /*accross*/
    }
    #imageC3{
        grid-row: 4/4; /*accross*/
    }
    #imageC4{
        grid-row: 5/5; /*accross*/
    }
    #textC1{
        grid-column:2/2; /*down*/
        grid-row: 2/2; /*accross*/
    }
    #textC2{
        grid-column: 2/2; /*down*/
        grid-row: 3/3; /*accross*/
    }
    #textC3{
        grid-column: 2/2; /*down*/
        grid-row: 4/4; /*accross*/
    }
    #textC4{
        grid-column: 2/2; /*down*/
        grid-row: 5/5; /*accross*/
    }
}