<h1>Featured Talent</h1>
<div class="searchGrid">
  <h3 id="searchText">Search Filter</h3>
  <form action="/action_page.php" id="form">
    <div class="checkbox">
      <input type="checkbox" id="example1" name="example1" value="example1">
      <label for="example1">example1</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="example2" name="example2" value="example2">
      <label for="example2">example2</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="example3" name="example3" value="example3">
      <label for="example3">example3</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="example4" name="example4" value="example4">
      <label for="example4">example4</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="example5" name="example5" value="example5">
      <label for="example5">example5</label>
    </div>
  </form>
</div>
<div class="the-grid">
  <img id="imageC1" src="/Images/Template.png">
  <img id="imageC2" src="/Images/Template.png">
  <img id="imageC3" src="/Images/Template.png">
  <img id="imageC4" src="/Images/Template.png">
  <div id="textC1">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum lobortis sapien ut mollis. Aliquam hendrerit sem ac viverra pulvinar. Integer accumsan orci in erat convallis, at rutrum libero posuere. Integer semper posuere maximus. Sed viverra, lacus quis pretium aliquam, urna neque pretium nibh, blandit varius metus lectus vel lacus. Suspendisse elementum, elit eget ornare hendrerit, est enim volutpat sem, vitae mattis nisl risus quis augue. Vestibulum sed tincidunt nisi. Suspendisse ullamcorper vehicula auctor. Mauris erat felis, accumsan consequat urna quis, feugiat accumsan libero. Donec lorem purus, iaculis sed sodales sed, sollicitudin non odio. Nunc ac tristique enim.</p>
    <p>Talent URL: <a href="#">https://example.com</a></p>
    <hr>
  </div>
  <div id="textC2">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum lobortis sapien ut mollis. Aliquam hendrerit sem ac viverra pulvinar. Integer accumsan orci in erat convallis, at rutrum libero posuere. Integer semper posuere maximus. Sed viverra, lacus quis pretium aliquam, urna neque pretium nibh, blandit varius metus lectus vel lacus. Suspendisse elementum, elit eget ornare hendrerit, est enim volutpat sem, vitae mattis nisl risus quis augue. Vestibulum sed tincidunt nisi. Suspendisse ullamcorper vehicula auctor. Mauris erat felis, accumsan consequat urna quis, feugiat accumsan libero. Donec lorem purus, iaculis sed sodales sed, sollicitudin non odio. Nunc ac tristique enim.</p>
    <p>Talent URL: <a href="#">https://example.com</a></p>
    <hr>
  </div>
  <div id="textC3">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum lobortis sapien ut mollis. Aliquam hendrerit sem ac viverra pulvinar. Integer accumsan orci in erat convallis, at rutrum libero posuere. Integer semper posuere maximus. Sed viverra, lacus quis pretium aliquam, urna neque pretium nibh, blandit varius metus lectus vel lacus. Suspendisse elementum, elit eget ornare hendrerit, est enim volutpat sem, vitae mattis nisl risus quis augue. Vestibulum sed tincidunt nisi. Suspendisse ullamcorper vehicula auctor. Mauris erat felis, accumsan consequat urna quis, feugiat accumsan libero. Donec lorem purus, iaculis sed sodales sed, sollicitudin non odio. Nunc ac tristique enim.</p>
    <p>Talent URL: <a href="#">https://example.com</a></p>
    <hr>
  </div>
  <div id="textC4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum lobortis sapien ut mollis. Aliquam hendrerit sem ac viverra pulvinar. Integer accumsan orci in erat convallis, at rutrum libero posuere. Integer semper posuere maximus. Sed viverra, lacus quis pretium aliquam, urna neque pretium nibh, blandit varius metus lectus vel lacus. Suspendisse elementum, elit eget ornare hendrerit, est enim volutpat sem, vitae mattis nisl risus quis augue. Vestibulum sed tincidunt nisi. Suspendisse ullamcorper vehicula auctor. Mauris erat felis, accumsan consequat urna quis, feugiat accumsan libero. Donec lorem purus, iaculis sed sodales sed, sollicitudin non odio. Nunc ac tristique enim.</p>
    <p>Talent URL: <a href="#">https://example.com</a></p>
  </div>
</div>