<div class="section2">
  <h1>Featured Talent</h1>
  <div class="talents">
    <div class="talent">
      <img id="image1" src="../Images/Template.png" height="100px" width="100px">
      <a href="#">CTA</a>
    </div>
    <div class="talent">
      <img id="image2" src="../Images/Template.png" height="100px" width="100px">
      <a id="image2Button" href="#">CTA</a>
    </div>
    <div class="talent">
      <img id="image3" src="../Images/Template.png" height="100px" width="100px">
      <a id="image3Button" href="#">CTA</a>
    </div>
    <div class="talent">
      <img id="image4" src="../Images/Template.png" height="100px" width="100px">
      <a id="image4Button" href="#">CTA</a>
    </div>
    <div class="talent">

      <img id="image5" src="../Images/Template.png" height="100px" width="100px">
      <a id="image5Button" href="#">CTA</a>
    </div>
    <div class="talent">
      <img id="image6" src="../Images/Template.png" height="100px" width="100px">
      <a id="image6Button" href="#">CTA</a>
    </div>
  </div>
  <a id="section2Button" class="button" href="../talent.php">CTA</a>
</div>