<div id="MailForm">
  <h1>Get In Touch</h1>
  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Name</label>
      <input type="text" class="form-control input-group" id="name" placeholder="John Smith">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control form" id="email" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Tel</label>
      <input type="tel" class="form-control form" id="tel" placeholder="07123456789">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Message</label>
      <textarea class="form-control" id="textarea" rows="5"></textarea>
    </div>
    <button type="button">Submit</button>
  </form>
</div>